.resume-page-container {
  display: grid;
  width: 80%;
  padding-left: 100px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-areas:
    "head head"
    "intro intro"
    "work skills"
    "studies skills";

  .text-secondary {
    color: $secondary-color;
  }

  .resume-header {
    background: rgba(lighten($primary-color, 45), 0.8);
    margin-left: 40px;
    padding: 5px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
  }
}

@include mediaMd {
  .resume-page-container {
    padding: 0;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas:
      "head"
      "intro"
      "studies"
      "skills"
      "work";
  }
}

.resume-introduction {
  grid-area: intro;
}

.resume-header {
  grid-area: head;
}

.resume-studies {
  grid-area: studies;
}

.resume-skills,
.resume-studies,
.resume-work {
  .item {
    align-self: center;
    padding: 10px;
    background: rgba(lighten($primary-color, 35), 0.9);

    .list-super {
      font-weight: bold;
      color: $third-color;
      display: block;
    }

    .list-sub {
      font-style: italic;
    }

    h2 {
      margin: 5px 5px;
    }
    div {
      margin: 10px 10px;
    }
  }
}

.resume-skills {
  grid-area: skills;
}

.resume-work-history {
  grid-area: work;
}

.bar {
  height: 30px;
  max-width: 500px;
  line-height: 30px;
  font-size: 16px;
  color: white;
  padding: 0 0 0 10px;
  position: relative;
  z-index: 0;
}

.graph-cont {
  width: calc(100% - 20px);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.bar::before {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  height: 30px;
  top: 0;
  z-index: -1;
  background: whitesmoke;
}
.bar::after {
  content: "";
  background: $third-color;
  height: 30px;
  transition: 0.7s;
  display: block;
  width: 100%;
  animation: bar-before 1 2.8s;
  -webkit-animation: bar-before 1 2.8s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bar1::after {
  max-width: 15%;
}
.bar2::after {
  max-width: 34%;
}
.bar3::after {
  max-width: 54%;
}
.bar4::after {
  max-width: 82%;
}
.bar5::after {
  max-width: 86%;
}

@-webkit-keyframes bar-before {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

@keyframes bar-before {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
