.resume-page-container {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-column-gap: 20px;
  grid-template-areas:
    "head head"
    "intro intro"
    "studies studies"
    "work skills";
}

@include mediaMd {
  .resume-page-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "head"
      "intro"
      "studies"
      "skills"
      "work";
  }
}

.resume-introduction {
  grid-area: intro;
}

.resume-header {
  grid-area: head;
}

.resume-studies {
  grid-area: studies;
}

.resume-skills,
.resume-studies,
.resume-work {
  background-color: rgba(lighten($primary-color, 5), 2);
  margin: 5px;
}

.resume-skils {
  grid-area: skills;

  .skill {
    display: block;

    .resume-skills-grade {
      padding-left: 150px;
      float: center;
    }
  }
}

.resume-work-history {
  grid-area: work;

  .work-title {
    color: $secondary-color;
  }
}

.resume-work-history,
.resume-studies-list {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
