.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.35s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #1a1919;
    transition: all 0.35s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
      background: red; }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px);
      background: red; }

.menu {
  position: fixed;
  top: 0;
  width: 90%;
  left: 5vw;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-branding {
    margin: 0;
    padding: 0;
    background: #fafafa;
    list-style: none;
    transform: translate3d(0, 100%, 0);
    transition: all 0.35s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 450px;
      height: 450px;
      background: url(../img/Cat.jpg);
      background-size: cover;
      border-radius: 50%;
      border: solid 5px #213799; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.35s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.35s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #213799; }

.nav-link {
  display: inline-block;
  position: relative;
  font-size: 40px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #1a1919;
  text-decoration: none;
  transition: all 0.35s ease-out; }
  .nav-link:hover {
    color: #213799; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      width: 150px;
      height: 150px; } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; } }

.resume-page-container {
  display: grid;
  width: 80%;
  padding-left: 100px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  column-gap: 30px;
  row-gap: 30px;
  grid-template-areas: "head head" "intro intro" "work skills" "studies skills"; }
  .resume-page-container .text-secondary {
    color: #213799; }
  .resume-page-container .resume-header {
    background: rgba(255, 255, 255, 0.8);
    margin-left: 40px;
    padding: 5px; }
  .resume-page-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block; }

@media screen and (max-width: 768px) {
  .resume-page-container {
    padding: 0;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: "head" "intro" "studies" "skills" "work"; } }

.resume-introduction {
  grid-area: intro; }

.resume-header {
  grid-area: head; }

.resume-studies {
  grid-area: studies; }

.resume-skills .item,
.resume-studies .item,
.resume-work .item {
  align-self: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.9); }
  .resume-skills .item .list-super,
  .resume-studies .item .list-super,
  .resume-work .item .list-super {
    font-weight: bold;
    color: #ee1616;
    display: block; }
  .resume-skills .item .list-sub,
  .resume-studies .item .list-sub,
  .resume-work .item .list-sub {
    font-style: italic; }
  .resume-skills .item h2,
  .resume-studies .item h2,
  .resume-work .item h2 {
    margin: 5px 5px; }
  .resume-skills .item div,
  .resume-studies .item div,
  .resume-work .item div {
    margin: 10px 10px; }

.resume-skills {
  grid-area: skills; }

.resume-work-history {
  grid-area: work; }

.bar {
  height: 30px;
  max-width: 500px;
  line-height: 30px;
  font-size: 16px;
  color: white;
  padding: 0 0 0 10px;
  position: relative;
  z-index: 0; }

.graph-cont {
  width: calc(100% - 20px);
  width: 100%;
  max-width: 500px;
  margin: 0 auto; }

.bar::before {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  height: 30px;
  top: 0;
  z-index: -1;
  background: whitesmoke; }

.bar::after {
  content: "";
  background: #ee1616;
  height: 30px;
  transition: 0.7s;
  display: block;
  width: 100%;
  animation: bar-before 1 2.8s;
  -webkit-animation: bar-before 1 2.8s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; }

.bar1::after {
  max-width: 15%; }

.bar2::after {
  max-width: 34%; }

.bar3::after {
  max-width: 54%; }

.bar4::after {
  max-width: 82%; }

.bar5::after {
  max-width: 86%; }

@-webkit-keyframes bar-before {
  0% {
    width: 0px; }
  100% {
    width: 100%; } }

@keyframes bar-before {
  0% {
    width: 0px; }
  100% {
    width: 100%; } }

* {
  box-sizing: border-box; }

body {
  background: white;
  color: #1a1919;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(255, 255, 255, 0.6); }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: box;
  opacity: 0.5;
  text-align: right;
  padding-right: 10px;
  background: rgba(255, 255, 255, 0.5); }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 5rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(255, 255, 255, 0.3); }

a {
  color: #1a1919;
  text-decoration: none; }

header {
  position: fixed;
  width: 100%;
  z-index: 2; }

.text-secondary {
  color: #213799; }

main {
  padding: 3rem;
  height: 100%; }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #213799;
        transition: all 0.35s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }
